<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="Nexus" value="https://pkg.royalapps.dev/repository/nuget/index.json" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="Ava Nightly" value="https://nuget-feed-nightly.avaloniaui.net/v3/index.json" />
    <add key="Ava Pre" value="https://nuget-feed-all.avaloniaui.net/v3/index.json" />
  </packageSources>

  <packageSourceMapping>
    <packageSource key="Nexus">
      <package pattern="ProDiagnostics" />
    </packageSource>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
    <packageSource key="Ava Nightly">
      <package pattern="Avalonia*" />
    </packageSource>
    <packageSource key="Ava Pre">
      <package pattern="Avalonia*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
